# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/private/
/dist/
/build/
!/lib/jiconfont-1.0.0.jar
!/lib/jiconfont-swing-1.0.1.jar
!/lib/mysql-connector-java-8.0.22.jar
!/lib/rs2xml.jar
/Classes/
